{% extends 'panel/base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap3-wysihtml5-npm/dist/bootstrap3-wysihtml5.min.css' %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{ title }}</strong>
                </div>

                <form method="POST">
                    <div class="card-block">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Enviar
                        </button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'bootstrap3-wysihtml5-npm/dist/bootstrap3-wysihtml5.min.js' %}"></script>
    <script src="{% static 'bootstrap3-wysihtml5-npm/dist/bootstrap3-wysihtml5.all.min.js' %}"></script>

    <script>
        $(function () {
            $('select').select2();
            $('#id_description').wysihtml5();
        });
    </script>
{% endblock %}
