{% extends 'hotsite/base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <table id="informations" class="table table-striped table-bordered" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>Produtos</th>
                                <th>Vulnerabilidades</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Produtos</th>
                                <th>Vulnerabilidades</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for instance in instances %}
                                <tr>
                                    <td>
                                        <a href="{% url 'core:product' instance.id %}">
                                            {{ instance.name}}
                                        </a>
                                    </td>
                                    <td>{{ instance.vulnerabilities }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>

    <script>
        $(function () {

            $('#informations').DataTable({
                paging: false,
                searching: true,
                language: {
                    processing: "Processando...",
                    search: "",
                    searchPlaceholder: "Procurar",
                    lengthMenu: "_MENU_ resultados por página",
                    info: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    infoEmpty: "Mostrando 0 até 0 de 0 registros",
                    infoFiltered: "(Filtrados de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Carregando...",
                    zeroRecords: "Nenhum registro encontrado",
                    emptyTable: "Nenhum registro encontrado",
                    paginate: {
                        first: "Próximo",
                        previous: "Anterior",
                        next: "Próximo",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar colunas de forma ascendente",
                        sortDescending: ": Ordenar colunas de forma descendente"
                    }
                }
            });
            $('#informations_filter input').addClass("form-control");
            $('#informations_filter input').addClass("mr-sm-2");
        });
    </script>
{% endblock %}